@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    background-color: white;
    color: #282c34;
    padding: 40px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
  }

input {
    text-align: center;
    border: solid 0.1px #d4d4d4;
}

button {
    background-color: #edc7b7;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 7px 20px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
      
}

.welcomeContainer {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    width: 400px;
    height: 550px;
    border: solid 0.1px #d4d4d4;
}

.container {
    position: absolute;
    overflow: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    width: 600px;
    height: 1000px;
    border: solid 0.1px #d4d4d4;
}

#logo {
    position: relative;
    top: 35%;
}

#userEmail {
    position: relative;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding: 7px 20px;
    top: 45%;
}

#welcomePageButton {
    position: relative;
    top: 49%;
    background-color: #ff3366;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px 5%;
}

#filterInput {
    position: relative;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
}

.filterInputContainer {
    position: relative;
    float: left;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0px;
    padding-left: 30px;
    width: 65%;
    height: 41.5px;
}

.filterDropDown {
    position: relative;
    float: right;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0px;
    padding-right: 30px;
    width: 20%;
}

.filterDropDownMenu {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    width: 79%;
    padding: 0.4px 0.4px;
}

#expensesContainer {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 88%;
}

.expenseItem:hover {
    background-color: #f2f9fc;
}

.expenseItem {
    position: relative;
    margin-bottom: 10px;
    width: 500px;
    height: 50px;
    border: solid 0.1px #d4d4d4;
    padding: 7px 20px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

.merchant {
    display: inline-block;
    text-align: left;
    width: 50%;
    padding: 1px 3px;
}

.value {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 1px 3px;
}

.curreny {
    display: inline-block;
    text-align: left;
    width: 10%;
    padding: 1px 3px;
}

.date {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-size: 16px;
    padding: 0px 3px;
}